@font-face {
    font-family: LeagueSpartan;
    src: url(league-spartan-master/_webfonts/leaguespartan-bold.woff2);
    font-weight: 100;
}
body {
  background-color: #e9ecef;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0a3170;
  height: 10em;
  padding: 2%;
  margin-bottom: 0;
  border-radius: 0;
}

/* .headerScroll {
  background-color: #0a3170;
  justify-content: space-between;
  height: 5em;
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
} */

.logo {
  height: 8em;
  width: auto;
}

/* .logoScroll {
  height: 4em;
  width: auto;
} */

.navbar {
  background-color: #e9ecef;
  justify-content: flex-end;
}

/* .navScroll {
  top: 25px;
  position: fixed;
} */

.introImg img {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 0;
}

.content {
  min-height: 100vw;
}

.contentPadded {
  padding: 3% 5%;
  margin-top: 0px;
  text-align: center;
}


/* Element Styles */
.btn-primary {
  background-color: #0a3170;
  border-color: #0a3170;
}
h1, h2,
.card-title {
  color: #0a3170;
  font-family: LeagueSpartan;
}

a.nav-link:hover {
  text-decoration: underline;
  color: #0a3170;
}

.slogan {
  text-align: center;
  background-color: #0a3170;
  color: white;
  height: 3em;
  margin-top: 0;
  padding-top: 3%;
  padding-bottom: 5%;
  margin-bottom: 0;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.homeArticle {
  width: 100vw;
  min-height: 50vw;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0a3170;
  text-overflow: hidden;
}

.card-body {
  padding: 5% 7%;
}

.articleImgOne {
  background-image: url("images/RMISP3.jpeg");
  background-position: center;
  background-size: cover;
}
.articleImgTwo {
  background-image: url("images/Vancouver.jpg");
  background-position: center;
  background-size: cover;
}

/* Header scroll styles */
.headerScroll {
  display: none;
  position: fixed;
  height: 3em;
  background-color: #0a3170;
  color: white;
  width: 100vw;
  z-index: 1;
  top: 0;
}

.headerScroll .navbar {
  background-color: #0a3170;
  color: white;
}

.headerScroll img{
  align-self: flex-start;
  height: 2.5em;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 1%;
  padding-top: 1%;
}
.headerScroll .navbar-nav .nav-link {
  color: white;
}
.scrollContent {
  margin-top: 3em;
}
/* Contact Us Specific */
.form-check-inline {
  width: 100%;
  justify-content: space-evenly;
}

.checkbox label{
  padding-left: 0.4em;
}