body {
  background-color: #e9ecef;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0a3170;
  height: 10em;
  padding: 2%;
  margin-bottom: 0;
  border-radius: 0;
}

.logo {
  height: 8em;
  width: auto;
}

.navbar {
  background-color: #e9ecef;
  justify-content: flex-end;
}

.introImg img {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
}

.content {
  margin-top: 0px;
  text-align: center;
}

.contentPadded {
  padding: 3% 5%;
  margin-top: 0px;
  text-align: center;
}
/* Element Styles */
.btn-primary {
  background-color: #0a3170;
  border-color: #0a3170;
}

a.nav-link:hover {
  text-decoration: underline;
  color: #0a3170;
}
/* Contact Us Specific */
.form-check-inline {
  width: 100%;
  justify-content: space-evenly;
}

.checkbox label{
  padding-left: 0.4em;
}
