@font-face {
    font-family: LeagueSpartan;
    src: url(/league-spartan-master/_webfonts/leaguespartan-bold.woff);
    font-weight: 100;
}
body {
  background-color: #e9ecef;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0a3170;
  height: 10em;
  padding: 2%;
  margin-bottom: 0;
  border-radius: 0;
}

.logo {
  height: 8em;
  width: auto;
}

.navbar {
  background-color: #e9ecef;
  justify-content: flex-end;
}

.introImg img {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 0;
}

.content {
  min-height: 100vw;
}

.contentPadded {
  padding: 3% 5%;
  margin-top: 0px;
  /* text-align: center; */
}


/* Element Styles */
.btn-primary {
  background-color: #0a3170;
  border-color: #0a3170;
}
h1, h2,
.card-title {
  color: #0a3170;
  font-family: LeagueSpartan;
}

a.nav-link:hover {
  text-decoration: underline;
  color: #0a3170;
}

.slogan {
  text-align: center;
  background-color: #0a3170;
  color: white;
  height: 3em;
  margin-top: 0;
  padding-top: 3%;
  padding-bottom: 5%;
  margin-bottom: 0;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.navbar-nav .nav-item .dropdown-item:hover {
  text-decoration: underline;
  background-color: #0a3170;
  color: #eac554;
}

/* Home styles */
.homeArticle {
  width: 100vw;
  min-height: 50vw;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0a3170;
  text-overflow: hidden;
}

.card-body {
  padding: 5% 7%;
}

.articleImgOne {
  background-image: url("images/newZealand.jpg");
  background-position: center;
  background-size: cover;
}
.articleImgTwo {
  background-image: url("images/Vancouver.jpg");
  background-position: center;
  background-size: cover;
}

/* Header scroll styles */
.headerScroll {
  display: none;
  position: fixed;
  height: 3em;
  background-color: #0a3170;
  color: white;
  width: 100vw;
  z-index: 1;
  top: 0;
}

.headerScroll .navbar {
  background-color: #0a3170;
  color: white;
}

.headerScroll img{
  align-self: flex-start;
  height: 2.5em;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 1%;
  padding-top: 1%;
}

.headerScroll .navbar-nav .nav-link {
  color: white;
}

.scrollContent {
  margin-top: 3em;
}

.headerScroll .fas.fa-bars {
  color: white;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid white;
  border-radius: .25rem;
}

.fas.fa-bars:hover {
  color: #eac554;
}

.headerScroll .navbar-nav .nav-link:hover {
  color: #eac554;
}

.headerScroll .navbar-nav .nav-item .dropdown-item:hover {
  text-decoration: underline;
  background-color: #0a3170;
  color: #eac554;
}

.flex-half {
  display: flex;
  flex-direction: row;
}

.flex-half * {
  flex-direction: column;
  align-content: space-between;
}

/* Footer */

.footer {
  background-color: #0a3170;
  color: white;
  min-height: 50px;
  margin-top: 5%;
  padding: 2% 0;
}
/* Contact Us Specific */
.form-check-inline {
  width: 100%;
  justify-content: space-evenly;
}

.checkbox label{
  padding-left: 0.4em;
}
.countryCard {
  position: relative;
  display: flex;
  flex-direction: row;
}
/* .countryCard p {
  position: relative;
  display: flex;
  max-width: 70%;
} */
.countryCardImg {
  display: flex;
  height: 8em;
  position: absolute;
  width: auto;
  justify-content: flex-end;
  right: 8%;
  top: 22%;
  transition: all .4s ease;
}

.countryCardImg:hover {
  transform: scale(1.5);
}

/* studying abroad page specific */
.why-articles {
  display: flex;
  justify-content: space-around;
  background-color: #f1f2f3;
}
.why-articles div {
  /* border-bottom: 1px solid #a7a9aa; */
  flex-direction: column;
  text-align: center;
  padding: 2% 5%;
}
.article-title {
  padding-top: 2%;
  display: block;
  justify-self: center;
}

/*Icon/image styles */

.smallIcon {
  width: 5%;
  height: auto;
  margin: auto;
  padding-bottom: 2%;
}
/* NZ Specific */

.blockquote {
  padding: 2%;
  border: 1px solid #b0cdeb;
  background-color: white;
}

/* US specific */

.schoolIcon {
  height: 50px;
  width: auto;
  margin-left: 48%;
}

.schoolAccordion {
  padding: 1% 4%;
  border: 1px solid #0a3170;
  color: #0a3170;
  font-family: LeagueSpartan;
  text-transform: capitalize;
  font-size: 1.2em;
}

.schoolAccordion:hover {
  border: 1px solid #0a3170;
  background-color: #0a3170;
  color: white;
}

.accordionShow {
  display: none;
  padding-top: 2%;
}

.directLinks button {
  padding: 1% 4%;
  font-family: LeagueSpartan;
  text-transform: capitalize;
  font-size: 1.2em;
  border: 1px solid #0a3170;
  background-color: #0a3170;
  color: white;
}

.directLinks button:hover {
  border: 1px solid #0a3170;
  color: #0a3170;
  background-color: white;
  text-decoration: underline;
}

.directLinks button a {
  color: white;
}

.directLinks button a:hover {
  color: #007bff;
}
/* Canada Tabbed Content */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid  #0a3170;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
}

.tab2 {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  width: 100%;
  /* border: none; */
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab2 button {
  background-color: inherit;
  width: 100%;
  /* border: none; */
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover,
.tab2 button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #0a3170;
  color: white;
  border:1px solid #0a3170;
  font-weight: bold;
}

.tab2 button.active2 {
  background-color: white;
  /* border-left:1px solid #0a3170; */
  border-bottom: none;
  border-top: none;
  color: #0a3170;
  font-weight: bold;
}

.activeBorder {
  border:1px solid #0a3170;
}

/* Style the tab content */
.tabcontent,
.tabcontent2 {
  display: none;
  padding: 6px 12px;
  /* border-top: none; */
}

.tabcontent2 {
  background-color: white;
}

/* Class to hide USA until we get more schools there */
.hideUsa {
  display: none;
}

/* Responsive styles/media queries not handled by Bootstrap/Flex */
@media screen and (max-width: 550px) {
  .navbar-brand img {
    width: 80vw;
  }
  .countryCard,
  .countryCardImg {
    position: inherit;
  }
}
