body {
  background-color: #e9ecef;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0a3170;
  height: 10em;
  padding: 2%;
  margin-bottom: 0;
  border-radius: 0;
}

/* .headerScroll {
  background-color: #0a3170;
  justify-content: space-between;
  height: 5em;
  padding: 1%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
} */

.logo {
  height: 8em;
  width: auto;
}

/* .logoScroll {
  height: 4em;
  width: auto;
} */

.navbar {
  background-color: #e9ecef;
  justify-content: flex-end;
}

/* .navScroll {
  top: 25px;
  position: fixed;
} */

.introImg img {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 0;
}

.content {
  text-align: center;
}

.contentPadded {
  padding: 3% 5%;
  margin-top: 0px;
  text-align: center;
}


/* Element Styles */
.btn-primary {
  background-color: #0a3170;
  border-color: #0a3170;
}
h1, h2, h2,
.card-title {
  color: #0a3170;
}

a.nav-link:hover {
  text-decoration: underline;
  color: #0a3170;
}

/* Contact Us Specific */
.form-check-inline {
  width: 100%;
  justify-content: space-evenly;
}

.checkbox label{
  padding-left: 0.4em;
}

.slogan {
  background-color: #0a3170;
  color: white;
  height: 3em;
  margin-top: 0;
  padding-top: 3%;
  margin-bottom: 0;
}

/* .homeMain .card {
  margin-bottom: 2%;
} */

.homeArticle {
  width: 100vw;
  height: 40vw;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0a3170;
}

.articleImg {
  width: 50%;
}
.articleImgOne {
  background-image: url("images/RMISP3.jpeg");
  background-position: center;
  background-size: cover;
}
.articleImgTwo {
  background-image: url("images/Vancouver.jpg");
  background-position: center;
  background-size: cover;
}

.card-body {
  width: 50%;
}